.scroll-view {
  height: 400rpx;
  background: #fff;
}

.scroll-area {
  height: 1300rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .5s;
}

.notice {
  margin-top: 150rpx;
}

.ball {
  width: 200rpx;
  height: 200rpx;
  background: #00CAFC;
  border-radius: 50%;
}

.filling {
  height: 400rpx;
}


.info-wrap {
  background-color:transparent;
}
.info-wrap__txt-title {
  margin-bottom:0;
}