@import "../../../common/lib/qui.qss";



textarea {
    width: 700rpx;
    padding: 32rpx 0;
    background-color: #fff;
}
.textarea-wrap {
    padding: 0 32rpx;
    background-color: #fff;
}
.qui-cell-group__txt-title  {
    padding:4rpx 32rpx 8rpx 32rpx;
}